*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana;
    font-size: 2em;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(-50%,-50%);
    background-color:#402B3A;
    width: 50%;
    height: 50%;
    border-radius: 5px;
}

.box{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box1{
width: 80%;
height: 80%;
border:2px #D63484 solid;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}

.display{
    color: #FF9BD2;
    font-size: 5rem;
}

.box2{   
    width: 80%;
    display: flex;
    justify-content: space-between ;
    padding: .5rem;
    gap: 0.2rem;
}

.box2 > button{
    width: 100%;
    cursor: pointer;
    padding: .7rem;
    background-color: #F8F4EC;
    border: none;
    border-radius: 3px;
}

.box2 > button:hover{
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
}